* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    row-gap: 15px;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    flex: 1;
}

.sources {
    width: 100%;
    display: flex;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
}
footer p a {
    color: white;
}
footer .copyright {
    font-size: 14px;
    color: #eee;
    text-align: center;
}
footer .copyright a {
    color: #ddd;
}
footer .copyright a:hover {
    color: #eee;
}
footer .copyright:before {
    content: '©';
}
